
.Data{
  display: flex;
  flex-direction: row;
  background-color:antiquewhite;
  justify-content: center;
}
.player{
  background-color: #61dafb;
  color:firebrick;
  border: solid black;
  border-radius: 10px;
  width: 300px;
  height: 250px;
  margin: 5px;
}
.player:hover{
  background-color: antiquewhite;
}


.Nav{
  height: 50px;
  border: solid 2px;
  background-color:cadetblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
